

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

body {
    background-color: rgba(165, 161, 161, 0.781);
}

hr.idk {
    width: 16%;
    border: 2px solid rgb(56, 56, 56);
  border-radius: 2px;
}

ul li::marker {
    color: red;
    text-align: center;
    font-size: 1.5em;


  }

  
  
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
  
  


  
  
  hr.Ofek{
    border: 1px solid rgb(56, 56, 56);
    border-radius: 1px;
  }


  

    @media only screen and (min-device-width: 400px) {
      body {     color:rgb(15, 15, 15);    } }


      @media only screen and (min-device-width: 768px) {
        body {     color:red;    } }


        @media only screen and (min-device-width: 414px) {
          body {   color:rgb(62, 63, 62);    } }
          
